<configuration>
    <appender name="AUTH-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/auth/auth-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/errors/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="auth-rolling" level="INFO">
        <appender-ref ref="AUTH-ROLLING" />
    </logger>

    <logger name="error-rolling" level="ERROR">
        <appender-ref ref="ERROR-ROLLING" />
    </logger>

    <root level="debug">
        <!-- <appender-ref ref="ROLLING" /> -->
    </root>

</configuration>